body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(2, 2, 133, 0.8);
}

.backdrop {
  border-radius: 15px;
}

.toolstation-image {
  border-radius: 15px;
}

.input-container {
  border-top: 60px solid #fee200;
  border-bottom: 60px solid #fee200;
  max-height: 40px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.middle-container {
  text-align: center;
  border-radius: 15px;
}

.input {
  align-items: center;
}

.quiz-container {
  text-align: center;
  padding: 20px;
  border-radius: 5px;
}

input[type="text"] {
  padding: 10px;
  margin: 10px;
  border: 5px solid rgb(2, 2, 133, 0.8);
  border-radius: 15px;
}

input[type="text"]:focus {
  padding: 10px;
  margin: 10px;
  border: 5px solid rgb(2, 2, 133, 0.8);
}

img {
  height: auto;
}

#result {
  font-weight: bold;
  margin-top: 25px;
}

.image-container {
  position: relative;
}

#give-up-button {
  border: 8px solid rgb(2, 2, 133, 0.8);
  border-radius: 50px;
  height: 60px;
  width: 100px;
  color: red;
  background-color: white;
  margin-top: -20px;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Sometype Mono", monospace;
  font-weight: bold;
}

#reset-button {
  border: 8px solid rgb(2, 2, 133, 0.8);
  margin: 10px;
  height: 60px;
  color: green;
  border-radius: 50px;
  width: 100px;
  margin-top: -20px;
  background-color: white;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Sometype Mono", monospace;
  font-weight: bold;
}

#guessed {
  border: 8px solid rgb(2, 2, 133, 0.8);
  height: 60px;
  color: green;
  border-radius: 50px;
  width: 180px;
  margin-right: 10px;
  margin-top: -50px;
  background-color: white;
  font-family: "Lato", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Sometype Mono", monospace;
  font-weight: bold;
}

#answer {
  border: 8px solid rgb(2, 2, 133, 0.8);
  border-radius: 50px;
  margin-top: -10px;
  height: 25px;
  width: 200px;
  background-color: white;
  font-family: "Lato", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Sometype Mono", monospace;
}

#timer {
  margin-top: 25px;
  font-weight: 100;
  border: 8px solid rgb(2, 2, 133, 0.8);
  height: 60px;
  color: green;
  border-radius: 50px;
  width: 70px;
  margin-top: -20px;
  background-color: white;
  font-family: "Lato", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Sometype Mono", monospace;
  font-weight: bold;
}

#overlay-text {
  margin-top: 30vh;
  font-size: 5em;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Sometype Mono", monospace;
  color: white;
  z-index: 1;
}

#overlay {
  position: absolute;
  background: #000;
  opacity: 0.6;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: none;
  border-radius: 15px;
}

#FESTOOL {
  position: absolute;
  top: 367px;
  left: 695px;
  width: 80px;
  height: 35px;
  background-color: rgb(183, 183, 183);
}
#UPONOR {
  position: absolute;
  top: 367px;
  left: 780px;
  width: 80px;
  height: 35px;
  background-color: rgb(183, 183, 183);
}
#ABB {
  position: absolute;
  top: 367px;
  left: 870px;
  width: 80px;
  height: 35px;
  background-color: rgb(183, 183, 183);
}
#THREEM {
  position: absolute;
  top: 410px;
  left: 695px;
  width: 80px;
  height: 35px;
  background-color: rgb(183, 183, 183);
}
#MAKITA {
  position: absolute;
  top: 410px;
  left: 785px;
  width: 78px;
  height: 35px;
  background-color: rgb(183, 183, 183);
}
#HENCO {
  position: absolute;
  top: 410px;
  left: 870px;
  width: 80px;
  height: 35px;
  background-color: rgb(183, 183, 183);
}
#ATTEMA {
  position: absolute;
  top: 455px;
  left: 695px;
  width: 80px;
  height: 35px;
  background-color: rgb(183, 183, 183);
}
#DEWALT {
  position: absolute;
  top: 455px;
  left: 785px;
  width: 80px;
  height: 35px;
  background-color: rgb(183, 183, 183);
}
#SPAX {
  position: absolute;
  top: 455px;
  left: 870px;
  width: 80px;
  height: 35px;
  background-color: rgb(183, 183, 183);
}
#NEMEF {
  position: absolute;
  top: 500px;
  left: 697px;
  width: 80px;
  height: 30px;
  background-color: rgb(183, 183, 183);
}
#ILLBRUCK {
  position: absolute;
  top: 500px;
  left: 785px;
  width: 80px;
  height: 30px;
  background-color: rgb(183, 183, 183);
}
#STANLEY {
  position: absolute;
  top: 500px;
  left: 872px;
  width: 80px;
  height: 35px;
  background-color: rgb(183, 183, 183);
}
#JUNG {
  position: absolute;
  top: 540px;
  left: 700px;
  width: 80px;
  height: 35px;
  background-color: rgb(183, 183, 183);
}
#VIEGA {
  position: absolute;
  top: 540px;
  left: 785px;
  width: 80px;
  height: 35px;
  background-color: rgb(183, 183, 183);
}
#MILWAUKEE {
  position: absolute;
  top: 542px;
  left: 875px;
  width: 80px;
  height: 35px;
  background-color: rgb(183, 183, 183);
}
#BOSCH {
  position: absolute;
  top: 585px;
  left: 700px;
  width: 80px;
  height: 35px;
  background-color: rgb(183, 183, 183);
}
